@page
@model version._0._1.DetailsModelS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Trans</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Amnt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Amnt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Nature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Nature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Cat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Cat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Pattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Pattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trans.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trans.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Trans.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
