@page
@model version._0._1.IndexModelS

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Amnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Nature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trans[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pattern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
