@page
@model version._0._1.DeleteModelP

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>People</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.Plan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Plan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.People.TimeLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.TimeLeft)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="People.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
